*{box-sizing: border-box;}
body{
    display: flex;
    flex-flow: column nowrap;
    margin: 0 ;
    font-family: Arial, Helvetica, sans-serif;
}
/* ----header---- */
header{
    /* posi */
    position: sticky;
    top: 0;
    /* layout */
    display: flex;
    flex-flow: row wrap;
    /* bg */
    background-color: #d9b3ff;
}
header a{
    overflow: hidden;
    /* box */
    width: 6rem;
    height: 2rem;
    /* posi */
    display: flex;
    align-items: center;
    justify-content: center;
    /* txt */
    color: #ffffff;
    text-decoration: none;
    border-right: #ffffff solid thin;
}
header a:hover{text-decoration: underline;}
header a:active {font-weight: bold;}
header a.curPage {
    /* txt */
    font-weight: bold;
    color: #d9b3ff;
    /* bg */
    border: #ffffff solid thin;
    background: #ffffff;
}
header a.logo{
    width: 20vw;
    padding-left:2rem;
    justify-content: flex-start;
    font-weight: bold;
}
header a.logo:hover {text-decoration: none;}
/* ----main---- */
main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
aside{
    /* layout */
    width: 20vw;
    display: flex;
    flex-flow: column nowrap;
    padding: 3em 2em;
    /* bg */
    border-right: solid thin #ffffff;
    background-color: #ffffff;
    background-image: linear-gradient(15deg, #b3ecff, #ffffff00, #ffb3d9);
    background-attachment:fixed ;
    /* txt */
    font-weight:bold ;
    text-shadow: 0 0 0.5rem #404040;
}
aside.right{background-image: none;}
aside h1{
    color: #ffffff;
}
aside a{
    padding: 0.5rem 0;
    /* delinkify */
    text-decoration: none;
    color: #ffffff;
}
aside a:hover {
    text-decoration: underline;
}
article{
    flex: 1 1 0;
    min-width: 16rem;
    padding: 2rem;
}
article h1{ 
    font-size: 2.25rem; 
    margin: 0.5rem 0 0.5rem 0;
        }
article h2{ 
    font-size: 1.5rem; 
    margin: 0.5em 0 2rem 0;
        }
article h3{
    font-size: 1.25rem;
    margin: 2em 0 0.5rem 0;
        }
article .author{
    margin: -1.5rem 0 2rem 0;
    text-align: right;
    font-style: italic;
    }
article .warning{
    display: inline-block;
    padding: 0.5rem;
    background-color: lightyellow;
    font-style: italic;
    border-left: solid red;
}
article p{
    text-align: justify;
}
/* ----footer---- */
footer {
    margin: 0;
    padding: 0.375rem 2rem;
    background-color: #d9b3ff;
    color: #ffffff;
    font-size: 0.875rem;
    text-align: center;
}
/* ----madia---- */
@media screen and (max-width: 900px){
aside {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    header {
        flex-flow: column;
        display: flex;
    }

    header a {
        border-bottom: white solid thin;
        height: 2rem;
        width: 100%;
    }

    header a.logo {
        border-bottom-width:medium ;    
        width: 100%;
    }

    header {
        position: static;
    }
}
/* ----home page---- */
.welcome {
    /* layout */
    display: flex;
    flex-flow: column nowrap;
    place-items: center center;
    /* bg */
    margin: 0;
    padding: 1rem 0 0 0;
    background-color: #ffffff;
    background-image: linear-gradient(60deg, #b3ecff, #ffffff00, #ffb3d9);
    background-attachment: fixed;
    /* txt */
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 0px 0.5rem #404040;
}
.welcome h1 {
    font-size: 3rem;
    margin: 0.5em 0 0.5rem 0;
}
.welcome h2 {
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
}
.welcome img {
    max-width: 95vmin;
}
.welcome .temp {
    /* delinkify */
    text-decoration: none;
    color: #ffffff;
    /* posi */
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.welcome a.temp:hover {
    text-decoration: underline;
}